<div class="p-3">
  <div class="d-flex justify-content-between mb-3">
    <span class="text-muted">STARTING MSRP</span>
    <span class="text-muted">{{(product | ProductPricePipe | async)?.totalPrice}}</span>
  </div>
  <div *ngFor="let optionGroup of product?.OptionGroups">
    <div *ngIf="hasOptions(optionGroup)">
      <span class="text-muted">
        {{optionGroup.OptionGroup.Name}}
        <a href="javascript:void(0)" class="ml-2">
          <small class="oi oi-pencil"></small>
        </a>
      </span>
      <div *ngFor="let option of productOptions" class="mt-3">

        <div *ngIf="option.productOptionComponent.ProductOptionGroupId === optionGroup.Id">
          <div class="d-flex align-items-center">
            <img class="mr-3" [src]="sanitizer.bypassSecurityTrustUrl(option.productOptionComponent.ComponentProduct.IconId | image)"
              width="50" alt="Generic placeholder image" *ngIf="option.productOptionComponent.ComponentProduct.IconId">
            <small class="mr-auto">{{option.productOptionComponent.ComponentProduct.Name}}</small>
          </div>
        </div>
      </div>
      <hr/>
    </div>
  </div>
  <div *ngFor="let member of productAttributes">
    <div *ngIf="member.productAttributeList?.length > 0">
      <div class="text-muted mb-2">
        {{member.groupMember.AttributeGroup.Name}}
        <a href="javascript:void(0)" class="ml-2">
          <small class="oi oi-pencil"></small>
        </a>
      </div>
      <div *ngFor="let attribute of member.productAttributeList">
        <div *ngIf="member.attributeValue[attribute.Field]" class="mb-3 d-flex justify-content-between align-items-end">
          <div>
            <div>{{attribute._describe.label}}</div>
            <small>{{member.attributeValue[attribute.Field]}}</small>
          </div>
          <small class="text-muted">{{(member.attributeValue[attribute.Field] | AttributeValuePricePipe :product :attribute | async)?.totalPrice}}</small>
        </div>
      </div>
      <hr/>
    </div>
  </div>

  <div *ngIf="additionalProducts && additionalProducts.length > 0">
    <div class="text-muted">
      Additional Products
      <a href="javascript:void(0)" class="ml-2">
        <small class="oi oi-pencil"></small>
      </a>
    </div>
    <div *ngFor="let product of additionalProducts" class="mt-3">
      <div class="d-flex align-items-center">
        <img class="mr-3" [src]="sanitizer.bypassSecurityTrustUrl(product.IconId | image)" width="50" height="50" alt="Generic placeholder image">
        <div class="mr-auto">
          {{product.Name}}
          <small class="d-block">{{product.ProductCode}}</small>
        </div>
        <small class="text-muted">
          {{(product | ProductPricePipe | async)?.totalPrice}}
        </small>
      </div>
    </div>
    <hr/>
  </div>
  
  
  <div class="d-flex justify-content-between">
    <h5>Total Build</h5>
    <strong>{{(totalPrice() | async)?.totalPrice | localCurrency | async}}</strong>
  </div>
</div>