<div class="d-flex justify-content-center align-items-center h-100">
  <form (ngSubmit)="setPassword()">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Set your password</h5>
        <div class="form-group">
          <label for="passwordA">Password</label>
          <input type="password" class="form-control" id="passwordA" placeholder="Password" [(ngModel)]="passwordForm.passwordA" name="passwordA"
            minlength="6" required #passwordA="ngModel">
        </div>
        <div class="form-group">
          <label for="passwordB">Password</label>
          <input type="password" class="form-control" id="passwordB" placeholder="Password" [(ngModel)]="passwordForm.passwordB" name="passwordB"
            minlength="6" required #passwordB="ngModel">
        </div>
        <small class="text-danger animated fadeIn d-block" *ngIf="message">{{message}}</small>
        <small class="text-danger animated fadeIn d-block" *ngIf="passwordA.touched && passwordA?.errors?.minlength">Password must be at least 6 characters long.</small>

        <div class="d-flex justify-content-end mt-4">
          <button type="submit" class="btn btn-primary" type="submit" [ladda]="loading">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>