<nav class="navbar navbar-light bg-white d-flex justify-content-between">
  <span class="navbar-brand">
    Select Items
  </span>
  <button class="btn btn-primary" [ladda]="cartLoading" data-style="zoom-in">Add to Cart</button>
</nav>

<ng-container *ngIf="cart; else loading">
  <div class="card mt-4">
    <div class="card-body">
      <h4 class="card-title">Reorder</h4>
      <small class="font-weight-bold">Your previously purchased products have been pre-selected</small>
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Unit</th>
            <th scope="col">Base</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Price</th>
          </tr>
        </thead>
        <tbody>
  <!--         <tr *ngFor="let item of cart?.LineItems?.records"> -->
          <tr *ngFor="let item of cart?.LineItems">
            <th scope="row">{{item.Product.Name}}</th>
            <td><apt-price [record]="item" [type]="'unit'" [quantity]="item.Quantity"></apt-price></td>
            <td><apt-price [record]="item" [type]="'base'" [quantity]="item.Quantity"></apt-price></td>
            <td>
              <apt-input-quantity min="0" default="0" [(ngModel)]="item.Quantity" (ngModelChange)="item.QFTotalqty__c = $event"></apt-input-quantity>
            </td>
            <td>
              <span class="text-muted"><apt-price [record]="item" [quantity]="item.Quantity" [type]="'total'"></apt-price></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="d-flex justify-content-center py-5">
    <apt-md-spinner></apt-md-spinner>
  </div>
</ng-template>


