registry=https://art01.apttuscloud.io/api/npm/npm
_auth = aWMtY2ljZC1hcnRpZmFjdG9yeS1lY29tOkFLQ3A1ZTNWSDZlblIxb3VhZFpieXY3SGlRU0V5YThlN01MZm1taDJzWENYeFVjbTdGdVV2dmI5Q2VxenpReEhlYUdNQXdMb0c=
always-auth = true
email = devops@apttus.com
