@apttus:registry=https://art01.apttuscloud.io/api/npm/npm-local/
email = chmoyle@apttus.com
_auth = Y2htb3lsZUBhcHR0dXMuY29tOkFLQ3A1YnVUcXBaVU1lalA0dGRXS2FrRmdvQUhqMkxtZERvbXdFcHZOTHhteFUyZTNpOXVyZGJWVHlUZXM2OTZTd1BwbWZocHA=
always-auth = true