<apt-detail *ngIf="order$ | async as order; else loading" [context]="(isLoggedIn$ | async) ? order : null">
  <div class="detail-header">
    <div class="d-flex align-items-center mb-2">
      <h3 class="m-0">{{order?.Name}}</h3>
      <span class="badge badge-light ml-3 px-3 py-1 border text-uppercase" *ngIf="order?.Status">{{order?.Status}}</span>
      <div *ngIf="order?.Proposal as proposal" class="ml-auto">
        <apt-output-field [record]="proposal" field="Name" labelClass="d-none" layout="inline" [editable]="false" [showQuickView]="true"></apt-output-field>
      </div>
    </div>
  </div>

  <apt-detail-section [title]="'DETAILS.ORDER_SUMMARY' | translate">
      <div class="row">
        <div class="col-12 col-md-8">
          <h5>
              {{'DETAILS.ORDER_SUMMARY' | translate}}
          </h5>
          <div class="row mt-4">
            <ng-container *ngIf="isLoggedIn$ | async; else guest">
              <dl class="col-12 col-md-6">
                <apt-output-field [record]="order" field="CreatedDate" layout="inline" [editable]="false"></apt-output-field>
                <apt-output-field [record]="order" field="CreatedById" layout="inline" label="Created By" [editable]="false" [showQuickView]="true"></apt-output-field>
                <apt-output-field [record]="order" field="PrimaryContactId" layout="inline" [editable]="false" [showQuickView]="true"></apt-output-field>
                <apt-output-field [record]="order" field="SoldToAccountId" label="SoldToAccount.Name" layout="inline" [editable]="false" [showQuickView]="true"></apt-output-field>
              </dl>
              <dl class="col-12 col-md-6">
                <apt-output-field [record]="order" field="ShipToAccountId" label="Ship To Account" layout="inline" [editable]="false" [showQuickView]="true"></apt-output-field>
                <apt-output-field [record]="order" field="ShipToAccount.ShippingAddress" label="Ship To Address" layout="inline" [editable]="false"></apt-output-field>
                <apt-output-field [record]="order" field="BillToAccountId" label="Bill To Account" layout="inline" [editable]="false" [showQuickView]="true"></apt-output-field>
                <apt-output-field [record]="order" field="BillToAccount.BillingAddress" label="Bill To Address" layout="inline" [editable]="false"></apt-output-field>
              </dl>
            </ng-container>
            <ng-template #guest>
                <dl class="col-12 col-md-6">
                  <apt-output-field [record]="order" field="CreatedDate" layout="inline" [editable]="false"></apt-output-field>
                  <apt-output-field [record]="order" field="CreatedById" layout="inline" label="Created By" [editable]="false" [showQuickView]="true"></apt-output-field>
                  <apt-output-field [record]="order" field="PrimaryContactId" layout="inline" [editable]="false" [showQuickView]="true"></apt-output-field>
                </dl>
                <dl class="col-12 col-md-6">
                  <apt-output-field [record]="order" field="PrimaryContact.OtherAddress" label="Ship To Address" layout="inline" [editable]="false"></apt-output-field>
                  <apt-output-field [record]="order" field="PrimaryContact.MailingAddress" label="Bill To Address" layout="inline" [editable]="false"></apt-output-field>
                </dl>
              </ng-template>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <apt-price-summary [record]="order" [page]="'orders'"></apt-price-summary>
        </div>
      </div>
    </apt-detail-section>

    <apt-detail-section [title]="'DETAILS.LINE_ITEMS' | translate" class="mt-4">
      <h5 class="py-2">
          {{'DETAILS.LINE_ITEMS' | translate}}
        </h5>
        <table class="table table-responsive border-bottom">
          <tbody>
            <ng-container *ngFor="let item of orderLineItems$ | async; let i = index">
              <apt-line-item-table-row
              [index]="i"
              [parent]="item.MainLine"
              [options]="item.Options"
              [children]="item.SecondaryLines"
              [editableFields]="false">
              </apt-line-item-table-row>
          </ng-container>
          </tbody>
        </table>
      </apt-detail-section>

</apt-detail>

<ng-template #loading>
  <div class="d-flex justify-content-center pt-5">
    <apt-spinner></apt-spinner>
  </div>
</ng-template>
