<nav class="navbar navbar-light bg-white d-flex justify-content-between">
  <span class="navbar-brand">
    Order {{order?.Name}}
  </span>
</nav>

<div *ngIf="order; else loading">
  <div class="row mt-3">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Billing Address</h5>
          {{order?.PrimaryContact?.FirstName}} {{order?.PrimaryContact?.LastName}}
          <apt-address [ngModel]="order?.PrimaryContact" name="billingAddress" [readonly]="true"></apt-address>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Shipping Address</h5>
          {{order?.PrimaryContact?.FirstName}} {{order?.PrimaryContact?.LastName}}
          <apt-address [ngModel]="order?.PrimaryContact" name="shippingAddress" type="shipping" [readonly]="true"></apt-address>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Payment Information</h5>
          <dl>
            <dt>Payment Type:</dt>
            <dd>Purchase Order</dd>

            <dt>PO Number:</dt>
            <dd>{{order?.PONumber}}</dd>

            <dt>Total Amount:</dt>
            <dd>{{(order | OrderPricePipe | async)?.netPrice$ | async}}</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Order Summary</h5>
          <dl>
            <dt>Order Id:</dt>
            <dd>{{order?.Name}}</dd>

            <dt>Order Date:</dt>
            <dd>{{order?.CreatedDate | date:'short'}}</dd>

            <dt>Order Status:</dt>
            <dd>{{order?.Status}}</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <div class="card p-0">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Items</th>
              <th scope="col">Your Price</th>
              <th scope="col" class="text-center">Quantity</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let lineItem of order?.OrderLineItems">
              <tr *ngIf="lineItem.LineType === 'Product/Service'">
                <th scope="row">
                  <div class="media align-items-stretch">
                    <img class="mr-3" [src]="lineItem.Product.IconId | image" width="75" height="60"
                      alt="Generic placeholder image">
                    <div class="media-body d-flex flex-column justify-content-between">
                      <div>
                        <h6 class="m-0">
                          <a href="javascript:void(0)" [routerLink]="['/product', lineItem.Product[identifier]]">{{lineItem.Product?.Name}}</a>
                        </h6>
                        <small>
                          <strong>Product Code:</strong>&nbsp;{{lineItem.Product.ProductCode}}
                          <!-- <a class="d-block mt-1" href="javascript:void(0)" *ngIf="lineItem.HasOptions" (click)="openModal(configurationTemplate, lineItem)">
                            <span class="oi oi-wrench mr-1"></span>Configuration
                          </a> -->
                        </small>
                      </div>
                    </div>
                  </div>
                </th>
                <td>{{(lineItem | OrderLineItemPricePipe | async)?.netPrice$ | async}}</td>
                <td class="text-center">
                  <span class="badge badge-light p-3 text-muted">{{lineItem.Quantity}}</span>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #configurationTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Product Configuration</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <apt-product-configuration-summary [item]="selectedLineItem"></apt-product-configuration-summary>
  </div>
</ng-template>

<ng-template #loading>
  <div class="d-flex justify-content-center py-5">
    <apt-md-spinner></apt-md-spinner>
  </div>
</ng-template>