<ng-container *ngIf="addressList$ | async as addressList; else showLoader">
  <nav class="navbar navbar-light bg-white d-flex justify-content-between">
    <span class="navbar-brand">
      {{'COMMON.ADDRESS_BOOK' | translate}}
      <span *ngIf="addressList?.length > 0">({{addressList?.length}})</span>
    </span>
    <div>
      <button type="button" class="btn btn-primary"
        (click)="newAddress(template)">{{'MY_ACCOUNT.ADDRESS_BOOK.NEW_ADDRESS' | translate}}</button>
    </div>
  </nav>

  <div class="row" *ngIf="addressList; else showLoader">
    <div class="col-12 col-sm-6 col-md-4" *ngFor="let address of addressList">
      <div class="card mt-4">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <strong>
              <i class="fas fa-check" *ngIf="address.IsDefault"></i>
              {{address.Name}}
            </strong>
            <div class="btn-group info" dropdown>
              <button class="btn btn-icon btn-link dropdown-toggle" dropdownToggle [ladda]="address?._metadata?.loading"
                [attr.data-style]="'zoom-in'">
                <i class="fas fa-ellipsis-v"></i>
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu set-dropdown-for-address" role="menu"
                aria-labelledby="button-basic">
                <li role="menuitem">
                  <a class="dropdown-item" href="javascript:void(0)"
                    (click)="edit(address, template)">{{'COMMON.EDIT' | translate}}</a>
                </li>
                <li role="menuitem" *ngIf="!address.IsDefault">
                  <a class="dropdown-item" href="javascript:void(0)"
                    (click)="setAsDefault(address)">{{'MY_ACCOUNT.ADDRESS_BOOK.SET_AS_DEFAULT' | translate}}</a>
                </li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem">
                  <a class="dropdown-item text-danger" href="javascript:void(0)"
                    (click)="deleteAddress(address)">{{'COMMON.DELETE' | translate}}</a>
                </li>
              </ul>
            </div>
          </div>
          <address>
            <br> {{address.Street}}
            <br> {{address.City}}, {{address.State}} {{address.PostalCode}}
            <br> {{address.Country}}
          </address>
          <small class="card-subtitle mt-2 text-muted">{{address.CreatedDate | date : 'short'}}</small>
        </div>
      </div>
    </div>
  </div>

  <ng-template #template>
    <form (ngSubmit)="saveAddress()">
      <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="!addressEdit.Id">{{'MY_ACCOUNT.ADDRESS_BOOK.NEW_ADDRESS' | translate}}
        </h4>
        <h4 class="modal-title pull-left" *ngIf="addressEdit.Id">{{'COMMON.EDIT' | translate}} {{addressEdit.Name}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="addressEdit">
        <div class="mb-3">
          <apt-input-field placeholder="{{'COMMON.NAME' | translate}}" [(ngModel)]="addressEdit.Name" field="Name"
            [entity]="addressEdit" name="addressName" [labelClass]="'font-weight-normal'"></apt-input-field>
        </div>
        <apt-address [(ngModel)]="addressEdit" name="addressInput"></apt-address>
        <small class="text-danger animated fadeIn" *ngIf="message">{{message}}</small>
      </div>
      <div class="d-flex justify-content-end modal-footer">
        <button class="btn btn-link mr-2 w-25" type="button"
          (click)="modalRef.hide()">{{'COMMON.CANCEL' | translate}}</button>
        <button class="btn btn-primary w-25" type="submit" [ladda]="loading">{{'COMMON.SAVE' | translate}}</button>
      </div>
    </form>
  </ng-template>
</ng-container>

<ng-template #showLoader>
  <div class="d-flex justify-content-center py-5">
    <apt-dots></apt-dots>
  </div>
</ng-template>
