<nav class="navbar navbar-light bg-white d-flex justify-content-between">
  <span class="navbar-brand">
    Quotes
    <span *ngIf="quoteList?.length > 0">({{(quoteAggregate$ | async)?.total_records}})</span>
  </span>
</nav>

<div *ngIf="quoteList; else loading"  class="card p-0 mt-3">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Quote #</th>
        <th scope="col">Total</th>
        <th scope="col">Created Date</th>
        <th scope="col">Expected Started Date</th>
        <th scope="col">Approval Stage</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quote of quoteList">
        <th scope="row">
          <a href="javascript:void(0)" [routerLink]="['/my-account', 'quotes', quote.Name]">
            {{quote.Name}}
          </a>
        </th>
        <td>{{quote.Discounted_Price__c | localCurrency | async}}</td>
        <td>{{quote.CreatedDate | date : 'short'}}</td>
        <td>{{quote.Apttus_Proposal__ExpectedStartDate__c | date : 'short'}}</td>
        <td>
          <span [class]="'badge w-75 badge-' + actionConfiguration[quote.Apttus_Proposal__Approval_Stage__c]?.color">{{quote.Apttus_Proposal__Approval_Stage__c}}</span>
        </td>
        <td dropdown container="body">
          <button class="btn btn-link p-0 dropdown-toggle" dropdownToggle data-spinner-color="black" data-style="zoom-in">
            <span class="oi oi-ellipses vertical"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem" *ngFor="let action of actionConfiguration[quote.Apttus_Proposal__Approval_Stage__c]?.actions">
              <a class="dropdown-item" href="javascript:void(0)" (click)="action.action(quote)">{{action.label}}</a>
            </li><li class="divider dropdown-divider"></li>
            <li role="menuitem" *ngIf="actionConfiguration[quote.Apttus_Proposal__Approval_Stage__c].allowDelete">
              <a class="dropdown-item text-danger" href="javascript:void(0)" (click)="delete(quote)">Delete</a>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-center mt-3" *ngIf="(quoteAggregate$ | async)">
  <pagination [totalItems]="(quoteAggregate$ | async)?.total_records" [(ngModel)]="currentPage" (pageChanged)="loadQuotes($event.page)"></pagination>
</div>
<ng-template #loading>
  <div class="d-flex justify-content-center py-5">
    <apt-md-spinner></apt-md-spinner>
  </div>
</ng-template>