<nav class="navbar navbar-light bg-white d-flex justify-content-between">
  <span class="navbar-brand">
    Orders
    <span *ngIf="(orderList$ | async)?.length > 0">({{(orderList$ | async)?.length}})</span>
  </span>
</nav>

<div *ngIf="(orderList$ | async); else loading" class="card p-0 mt-3">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Order #</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
        <th scope="col"># of Items</th>
        <th scope="col">Status</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of (orderList$ | async)">
        <th scope="row">
         <a href="javascript:void(0)" [routerLink]="['/my-account', 'orders', order.Name]">{{order.Name}}</a></th>
        <td>{{(order | OrderPricePipe | async)?.totalPrice$ | async}}</td>
        <td>{{order.CreatedDate | date : 'short'}}</td>
        <td>{{order.OrderLineItems?.totalSize}}</td>
        <td>
          <span class="badge w-75" 
            [class.badge-secondary]="order.Status === 'Pending'" 
            [class.badge-info]="order.Status === 'Processing' || order.Status === 'Activated' || order.Status === 'Fulfilled'"
            [class.badge-success]="order.Status === 'Completed'" 
            [class.badge-danger]="order.Status === 'Cancelled' || order.Status === 'Superseded'">{{order.Status}}</span>
        </td>
        <td>
          <div dropdown container="body">
            <button class="btn btn-link p-0 dropdown-toggle" dropdownToggle [ladda]="order._metadata?.state === 'processing'" data-spinner-color="black"
              data-style="zoom-in">
              <span class="oi oi-ellipses vertical"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li role="menuitem">
                <a class="dropdown-item" href="#" [routerLink]="['/my-account', 'orders', order?.Name, 'reorder']">Reorder</a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #loading>
  <div class="d-flex justify-content-center py-5">
    <apt-md-spinner></apt-md-spinner>
  </div>
</ng-template>