<nav class="navbar navbar-light bg-white d-flex justify-content-between">
  <span class="navbar-brand">
    {{'COMMON.ORDERS' | translate}}
    <span *ngIf="orderList?.length > 0">({{orderAggregate?.total_records}})</span>
  </span>
</nav>

<div *ngIf="orderList; else loading" class="card p-0 mt-3">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"><apt-output-field [record]="order" field="Name" [editable]="false" [labelOnly]="true"></apt-output-field></th>
        <th scope="col">{{'COMMON.AMOUNT' | translate}}</th>
        <th scope="col"><apt-output-field [record]="order" field="CreatedDate" [editable]="false" [labelOnly]="true"></apt-output-field></th>
        <th scope="col"># {{'MY_ACCOUNT.ORDER_LIST.NUM_OF_ITEMS' | translate}}</th>
        <th scope="col"><apt-output-field [record]="order" field="Status" [editable]="false" [labelOnly]="true"></apt-output-field></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of (orderList)">
        <th scope="row">
         <a href="javascript:void(0)" [routerLink]="['/Orders', order.Id]">{{order.Name}}</a></th>
         <td>{{(order | OrderPricePipe | async).netPrice$ | async}}</td>
        <td>{{order.CreatedDate | date : 'short'}}</td>
        <td>{{order.OrderLineItems?.length}}</td>
        <td>
          <span class="badge w-100" 
            [class.badge-secondary]="order.Status === 'Pending'" 
            [class.badge-info]="order.Status === 'Processing' || order.Status === 'Activated' || order.Status === 'Fulfilled'"
            [class.badge-success]="order.Status === 'Completed'" 
            [class.badge-danger]="order.Status === 'Cancelled' || order.Status === 'Superseded'">{{order.Status}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-center mt-3">
  <pagination [totalItems]="orderAggregate?.total_records" [(ngModel)]="currentPage"
    (pageChanged)="loadOrders($event.page)" [firstText]="paginationButtonLabels.first" [previousText]="paginationButtonLabels.previous"
    [nextText]="paginationButtonLabels.next" [lastText]="paginationButtonLabels.last"></pagination>
</div>
<ng-template #loading>
  <div class="d-flex justify-content-center py-5">
    <apt-md-spinner></apt-md-spinner>
  </div>
</ng-template>