<div *ngIf="view$ | async as view">
    <apt-jumbotron [storefront]="view.storefront" imagePosition="left" height="45vh;" class="animated fadeIn" class="d-block" brightness="50"></apt-jumbotron>
    <div class="container py-5">
        <div *ngIf="view.categories">
            <apt-product-carousel [productList]="view.productListA" slides="4" [title]="view?.categories[0]?.Name" subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tincidunt quam massa, a commodo orci finibus
                    rhoncus. Nullam tempor, libero vel auctor efficitur, nibh lacus luctus orci, vitae fringilla lorem magna
                    at metus."></apt-product-carousel>

            <apt-product-carousel [productList]="view.productListB" slides="4" [title]="view?.categories[1]?.Name" subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tincidunt quam massa, a commodo orci finibus
                rhoncus. Nullam tempor, libero vel auctor efficitur, nibh lacus luctus orci, vitae fringilla lorem magna
                at metus."></apt-product-carousel>
        </div>
    </div>
    <app-footer></app-footer>
</div>
