<div class="py-4 container-fluid">
  <apt-breadcrumb [sobject]="product"></apt-breadcrumb>
  
  <div *ngIf="product; else spinner">
    <div class="headerContainer">
      <nav class="navbar navbar-light bg-light d-block px-4" [class.fixed-top]="fixedHeader">
        <div class="d-flex justify-content-between">
          <h4 class="navbar-brand font-weight-bold">
            {{product?.Name}}
          </h4>
          <h4>
            <apt-price [record]="product" [attributes]="productAttributeValueList" [options]="productOptionList" *ngIf="product"></apt-price>
          </h4>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <a href="javascript:void(0)" [routerLink]="['/product', product[productService.config.productIdentifier]]">
              <span class="oi oi-document"></span>
              Product Information
            </a>
          </div>
          <apt-add-to-cart *ngIf="product && !cartItemId" [configurationEnabled]="false" [showQuantityControls]="false" [product]="product" [productAttributes]="productAttributeValueList" [productOptions]="productOptionList"></apt-add-to-cart>
          <button class="btn btn-primary" *ngIf="cartItemId" (click)="saveConfiguration()" [ladda]="loading">Save Configuration</button>
          <span *ngIf="hasReplacements">
            This product has been replaced
          </span>
        </div>
      </nav>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-md-4">
        <apt-product-images [product]="product"></apt-product-images>
      </div>
      <div class="col-12 col-md-8">
        <div class="card">
          <app-attribute-accordion [productAttributeList]="productAttributeList" [product]="product" (onChange)="productAttributeMap = $event"></app-attribute-accordion>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-option-accordion [product]="product" [(productOptionList)]="productOptionList"></app-option-accordion>
      </div>
    </div>
  </div>
  

  <ng-template #spinner>
    <div class="d-flex justify-content-center pt-5">
      <apt-md-spinner></apt-md-spinner>
    </div>
  </ng-template>
</div>

<ng-template #confirmDialog>
  <div class="modal-header">
    <h4 class="modal-title">Are you sure you want to continue?</h4>
  </div>
  <div class="modal-body">
    <p>{{validationMessage}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary w-25 mr-3" (click)="decline()">No</button>
    <button type="button" class="btn btn-default w-25" (click)="confirm()">Yes</button>
  </div>
</ng-template>

