<div id="attributeAccordion" *ngIf="product?.AttributeGroups?.length > 0">
  <div class="card" *ngFor="let attributeMap of productAttributeMap; let i = index">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link d-flex justify-content-between btn-block" data-toggle="collapse" [attr.data-target]="'#' + attributeMap.groupMember.Id">
            {{attributeMap.groupMember.AttributeGroup.Name}}
        </button>
      </h5>
    </div>

    <div [id]="attributeMap.groupMember.Id" class="collapse" [class.show]="i === 0" data-parent="#attributeAccordion" #attributeCollapse>
      <div class="card-body">
        <div class="row">
            <div class="col-12" 
              [class.col-md-4]="attribute?.AttributeGroup?.ThreeColumnAttributeDisplay" 
              [class.col-md-6]="attribute?.AttributeGroup?.TwoColumnAttributeDisplay"
                *ngFor="let attribute of attributeMap.productAttributeList">
              
              <apt-input-field [field]="attribute['_describe']" 
                [(ngModel)]="attributeMap.attributeValue[attribute?.Field]"
                small="true"
                (change)="valueChange()"
                [product]="product"></apt-input-field>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>