@import "variables";

:host{
    font-size: smaller;
}

.itemName{
    width: calc(100% - 15vw);
}

button[aria-expanded="true"]:before{
    font-family: "FontAwesome";
    content: "\f0d7";
    font-size: $font-size-sm;
}
button[aria-expanded="false"]:before{
    font-family: "FontAwesome";
    content: "\f0da";
    font-size: $font-size-sm;
}
.optionData, .attributeData {
    font-size: $font-size-sm;
}