<div class="py-4 container-fluid">
  <apt-breadcrumb [sobject]="product"></apt-breadcrumb>

  <div *ngIf="product; else loading">
    <div class="headerContainer">
      <nav class="navbar navbar-light bg-light d-block pb-0 pt-3 px-4 nav-tabs" [ngClass]="headerClass">
        <div class="d-flex">
          <div class="flex-grow-1">
            <h3>
              {{product?.Name}}
            </h3>
            <span>Product ID: {{product?.ProductCode}}</span>
          </div>
          <div>
            <form class="border-left pl-4 row">
              <div class="form-group col mx-3">
                <label>Standard Price</label>
                <h5 class="pt-1">
                  <apt-price [record]="product" *ngIf="product"></apt-price>
                </h5>
              </div>
              <div *ngIf="!product?.HasOptions" class="form-group col mx-3">
                <label>Net Price</label>
                <h5 class="pt-1">
                  <apt-price *ngIf="product" [record]="product" [quantity]="quantity" [options]="productOptionFormList" type="net"></apt-price>
                </h5>
              </div>
            </form>
          </div>
        </div>

        <div class="d-flex border-top mt-3 align-items-end">
          <div *ngFor="let tab of tabList" (click)="scrollTo(tab)">
            <a class="nav-link" [class.active]="tab.active" href="javascript:void(0)"
              *ngIf="tab?.section?.nativeElement?.offsetTop > 0">
              {{tab.label}}
              <span *ngIf="isConfigurationChanged && tab.label === 'Configurations'">*</span>
            </a>
          </div>
          <div class="ml-auto">
            <form class="row my-2">
              <div class="form-group col border-left d-flex align-items-center">
                <label for="qty" class="m-0">Qty.</label>
                <input type="number" class="form-control text-center ml-3" name="qty" id="qty" [(ngModel)]="quantity">
              </div>
              <div class="col d-flex align-items-center">
                <apt-add-to-cart *ngIf="product && !cartItemId" [configurationEnabled]="false" [quantity]="quantity"
                  [showQuantityControls]="false" [product]="product" [productAttributes]="[attributeValue]"
                  [btnClass]="'btn-primary px-4'" [productOptions]="productOptionFormList"></apt-add-to-cart>

                <button *ngIf="product && cartItemId" class="btn px-3 btn-outline-primary"
                  (click)="updateConfiguration()" [ladda]="saving" data-style="zoom-in"
                  data-spinner-color="black" [disabled]="setDisabled">Update Configuration</button>
              </div>
            </form>
          </div>
        </div>
      </nav>
    </div>


    <div class="row" #details>
      <h4 class="text-muted col-12">Product Details</h4>
      <div class="col-12 col-md-4">
        <apt-product-images [product]="product"></apt-product-images>
      </div>
      <div class="col-12 col-md-8">
        <div class="card">
          <div class="card-body">
            <p [innerHTML]="product?.Description" class="p-2"></p>
          </div>
        </div>
      </div>
    </div>


    <div class="row mt-4" #config *ngIf="product?.HasAttributes || product?.HasOptions">
      <h4 class="text-muted col-12">Configurations</h4>
      <div class="col-12">
        <apt-product-configuration [productId]="product" [(optionFormList)]="productOptionFormList"
          [(attributeValue)]="attributeValue" [cartItemId]="cartItemId"
          [populateDefaults]="populateDefaults" (configurationChange)="onConfigurationChange()">
        </apt-product-configuration>
      </div>
    </div>

    <div class="row mt-4" #specifications *ngIf="product?.ProductFeatureValues?.length > 0">
      <h4 class="text-muted col-12">Specifications</h4>
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <pdp-tab-features [product]="product" class="animated fadeIn d-block"></pdp-tab-features>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4" #attachments *ngIf="product?.ProductInformation?.length > 0">
      <h4 class="text-muted col-12">Attachments</h4>
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <pdp-tab-attachments [product]="product"></pdp-tab-attachments>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4" #recommendations *ngIf="(recommendedProducts$ | async)?.length > 0">
      <h4 class="text-muted col-12">Recommended Products</h4>
      <div class="col-12">
        <apt-product-carousel [productList]="(recommendedProducts$ | async)" slides="5"></apt-product-carousel>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <div class="d-flex justify-content-center pt-5">
      <apt-md-spinner></apt-md-spinner>
    </div>
  </ng-template>
</div>