<div class="py-4 container-fluid">
  <apt-breadcrumb [sobject]="product"></apt-breadcrumb>

  <div class="row" *ngIf="product && rules; else loading">
    <div class="col-12 col-md-4">
      <product-images [product]="product"></product-images>
    </div>
    <div class="col-12 col-md-8">
      <div class="card animated fadeIn" *ngIf="product">
        <div class="card-body">
          <div class="d-flex justify-content-between flex-wrap">
            <h4>{{product?.Name}}</h4>
            <span *ngIf="replacementRules?.length !== 0">
              <span class="oi oi-warning mr-2"></span> This item has been replaced by {{replacementRules?.length}} new variations.
            </span>
          </div>
          

          <div class="d-flex justify-content-begin align-items-center">
            <!-- <star-rating [starType]="'icon'" [rating]="product.Rating_Score__c" *ngIf="product"></star-rating> -->
            <small>{{product?.ProductCode}}</small>
          </div>


          <div class="mt-4 d-flex justify-content-between flex-wrap align-items-center">
            <h3 class="d-flex justify-content-start align-items-center">
              <apt-price [record]="product"></apt-price>
            </h3>
            <apt-cr-add-to-cart [product]="product" rollbackOnFail="false" [disabled]="replacementRules?.length !== 0"></apt-cr-add-to-cart>
          </div>
        </div>
      </div>
      <div class="card mt-3 animated fadeIn" *ngIf="product">
        <div class="card-body">
          <tabset [justified]="true" (click)="changeTab()">
            <tab heading="Description">
              <div class="py-3">
                <p [innerHTML]="product?.Description" class="p-2"></p>
              </div>

              <!-- <pdp-rules [productList]="(includedProducts$ | async)" *ngIf="(includedProducts$ | async)?.length > 0" title=""
                  type="Inclusion"></pdp-rules>
                <pdp-rules [productList]="(recommendedProducts$ | async)" *ngIf="(recommendedProducts$ | async)?.length > 0" title=""
                  type="Recommendation"></pdp-rules> -->
            </tab>
            <tab heading="Features">
              <div class="py-3">
                <pdp-tab-features [product]="product"></pdp-tab-features>
              </div>
            </tab>
            <tab *ngIf="product?.ProductInformation?.length>0" heading="Attachments">
              <div class="py-3">
                <pdp-tab-attachments [product]="product"></pdp-tab-attachments>
              </div>
            </tab>
            <!-- <tab heading="Product Reviews">
              <div class="py-3">
                <apt-product-reviews [productId]="product.Id"></apt-product-reviews>
              </div>
            </tab> -->
            <tab heading="Replacement Products" *ngIf="replacementRules?.length > 0">
              <apt-product-replacements [productList]="replacementProducts$ | async"></apt-product-replacements>
            </tab>
            <tab heading="Volume Discounts" class="py-3" *ngIf="volumeDiscounts">
              <table class="table table-sm table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="border-top-0">Quantity</th>
                    <th scope="col" class="border-top-0">Discount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let matrix of volumeDiscounts; let i = index">
                    <ng-container *ngIf="matrix.AdjustmentAmount > 0">
                      <td>
                        {{matrix.Dimension1Value}}+
                      </td>
                      <td>
                        {{matrix.AdjustmentAmount}} {{matrix.AdjustmentType}}
                      </td>
                    </ng-container>
                  </tr>
                </tbody>
              </table>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <div class="d-flex justify-content-center pt-5">
      <apt-md-spinner></apt-md-spinner>
    </div>
  </ng-template>

  <div *ngIf="product && (relatedProducts$ | async)?.length > 0" class="mt-4">
    <h4 class="mt-5">Customers who purchased this also purchased...</h4>
    <apt-product-carousel [productList]="(relatedProducts$ | async)" slides="5"></apt-product-carousel>
  </div>

  <div *ngIf="product && (similarProducts$ | async)?.length > 0" class="mt-4">
    <h4 class="mt-5">Related Products</h4>
    <apt-product-carousel [productList]="(similarProducts$ | async)" slides="5"></apt-product-carousel>
  </div>

  <div *ngIf="product && (recommendedProducts$ | async)?.length > 0" class="mt-4">
      <h4 class="mt-5 text-muted">You may also like...</h4>
      <apt-product-carousel [productList]="(recommendedProducts$ | async)" slides="5"></apt-product-carousel>
  </div>

</div>