<ng-container *ngIf="product">
  <div class="mt-3 options" *ngFor="let optionGroup of product?.Apttus_Config2__OptionGroups__r?.records">
    <h4>{{optionGroup.Apttus_Config2__OptionGroupId__r.Name}}</h4>
    <div class="d-flex w-100">
  
      <!-- Required Options -->
      <ng-container *ngFor="let component of optionGroup.Apttus_Config2__Options__r?.records">
        <div *ngIf="component.Apttus_Config2__Required__c">
          <div class="card border-primary">
            <div class="d-flex justify-content-between align-items-center p-3">
              <div class="oi oi-check custom-checkbox-lg"></div>

              <div>
                &nbsp;
                <strong class="text-success">+ <apt-price [record]="component"></apt-price></strong>
              </div>
            </div>
            
            <div class="img-container">
              <img class="mr-3" [lazyLoad]="component.Apttus_Config2__ComponentProductId__r.Apttus_Config2__IconId__c | image" [defaultImage]="null | image"
                [alt]="component.Apttus_Config2__ComponentProductId__r.Name" class="card-img-top w-50 m-auto d-flex align-self-center">
            </div>
            <div class="card-body text-center">
              <strong class="card-title d-block">{{component.Apttus_Config2__ComponentProductId__r.Name}}</strong>
              <hr/>
              <apt-input-quantity [min]="component.Apttus_Config2__MinQuantity__c" [max]="component.Apttus_Config2__MaxQuantity__c" [disabled]="!component.Apttus_Config2__Modifiable__c" [(ngModel)]="getOptionForm(component).quantity"></apt-input-quantity>
            </div>
          </div>
        </div>
      </ng-container>
  
      <div class="d-flex align-items-center mx-5 pb-5 justify-content-center" *ngIf="optionGroup?._metadata?.hasRequired">
        <span class="oi oi-plus"></span>
      </div>
  
      <!-- Optional Options-->
      <div class="pr-5 w-100" style="overflow-x: hidden;">
        <ngx-slick class="carousel card-deck left-align-slick" [config]="(optionGroup?._metadata?.hasRequired ? slideConfigRequired : slideConfig)">
          <ng-container *ngFor="let component of optionGroup.Apttus_Config2__Options__r?.records">
            <div ngxSlickItem *ngIf="!component.Apttus_Config2__Required__c">
              <a class="card" href="javascript:void(0)" (click)="toggleComponent(component)" [class.border-primary]="selected(component)">
                <div class="d-flex justify-content-between align-items-center p-3">
                  <div class="custom-control custom-checkbox custom-checkbox-lg">
                    <input type="checkbox" class="custom-control-input" [id]="component.Id" [checked]="selected(component)" [disabled]="true">
                    <label class="custom-control-label" [for]="component.Id">&nbsp;</label>
                  </div>
                  <div>
                    &nbsp;<strong *ngIf="(component | OptionPricePipe | async)?.totalPrice > 0" class="text-success">+ {{(component | OptionPricePipe | async)?.totalPrice$ | async}}</strong>
                  </div>
                </div>
                <div class="img-container">
                  <img class="mr-3" [src]="component.Apttus_Config2__ComponentProductId__r.Apttus_Config2__IconId__c | image"
                    [alt]="component.Apttus_Config2__ComponentProductId__r.Name" class="card-img-top w-50 m-auto d-flex align-self-center">
                </div>
                <div class="card-body text-center">
                  <strong class="card-title d-block">{{component.Apttus_Config2__ComponentProductId__r.Name}}</strong>
                  <hr/>
                  <apt-input-quantity [disabled]="!selected(component) || !component.Apttus_Config2__Modifiable__c" [min]="component.Apttus_Config2__MinQuantity__c" [max]="component.Apttus_Config2__MaxQuantity__c" [(ngModel)]="getOptionForm(component).quantity"></apt-input-quantity>
                </div>
              </a>
            </div>
          </ng-container>
        </ngx-slick>
        
      </div>
    </div>
  </div>
</ng-container>
