<ng-container *ngIf="cart$ | async as cart; else loadingTemplate">
    <apt-breadcrumb *ngIf="!cart?.Quote?.Id" [label]="'COMMON.CREATE_QUOTE' | translate"></apt-breadcrumb>
    <apt-breadcrumb *ngIf="cart?.Quote?.Id" [sobject]="quoteRequestObj" [label]="'CREATE_QUOTE.FINALIZE_AND_SUBMIT' | translate">
    </apt-breadcrumb>
    <div class="container-fluid py-4 animated fadeIn">
        <div class="p-4">
            <h4 *ngIf="!cart?.Quote?.Id">{{'COMMON.REQUEST_QUOTE' | translate }}</h4>
            <h4 *ngIf="cart?.Quote?.Id">{{cart.Quote.Name}} /
                {{'MANAGE_CART.CART_SUMMARY.FINALIZE_AND_SUBMIT' | translate }}</h4>
            <div class="row">
                <div class="col-12 col-md-9 mb-4">
                    <app-request-quote-form [cart]="cart" (onQuoteUpdate)="onUpdate($event)"></app-request-quote-form>
                </div>
                <div class="col-12 col-md-3">
                    <apt-price-summary [disableSubmit]="disableSubmit" [record]="cart" [loading]="loading" [page]="'create-proposal'" (onRequestQuote)="convertCartToQuote(cart)"></apt-price-summary>
                </div>
            </div>
        </div>
    </div>
    
    
    <ng-template #confirmationTemplate>
        <div class="modal-header">
            <h5 class="modal-title pull-left"> {{'QUOTE_CONFIRMATION_MODAL.QUOTE_REQUEST' | translate}} </h5>
            <button type="button" class="close pull-right" aria-label="Close" (click)="confirmationModal.hide()" [routerLink]="['/Proposals', quoteConfirmation.Id]">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body d-flex flex-column justify-content-center py-4">
            <p class="text-center">
                <strong>{{ 'QUOTE_CONFIRMATION_MODAL.THANK_YOU' | translate }}
                    {{quoteConfirmation?.CreatedBy?.FirstName}}!</strong>
            </p>
            <small class="text-center" *ngIf="!cart?.Quote?.Id"
                [translate]="'QUOTE_CONFIRMATION_MODAL.QUOTE_CONFIRMATION_MSG'"
                [translateParams]="{Sellername: quoteConfirmation?.CreatedBy?.Name, RFP_value: quoteConfirmation.RFP_Response_Due_Date}"></small>
            <small class="text-center" *ngIf="cart?.Quote?.Id"
                [translate]="'QUOTE_CONFIRMATION_MODAL.QUOTE_CONFIRMATION_Update_MSG'"
                [translateParams]="{Sellername: quoteConfirmation?.CreatedBy?.Name, RFP_value: quoteConfirmation.RFP_Response_Due_Date}"></small>
            <h5 class="text-center my-3">{{ 'QUOTE_CONFIRMATION_MODAL.QUOTE_CONFIRMATION_NO' | translate }}
                {{quoteConfirmation.Name}}</h5>
            <button class="btn btn-outline-primary w-35 mx-auto" (click)="confirmationModal.hide()"
                [routerLink]="['/Proposals', quoteConfirmation.Id]">{{ 'QUOTE_CONFIRMATION_MODAL.REVIEW_YOUR_QUOTE' | translate }}</button>
        </div>
    </ng-template>
</ng-container>

<ng-template #loadingTemplate>
    <div class="d-flex justify-content-center pt-5 mt-5">
        <apt-md-spinner></apt-md-spinner>
    </div>
</ng-template>
