<nav class="navbar navbar-light bg-white d-flex justify-content-between">
  <span class="navbar-brand">
    Quote {{(quote$ | async)?.Name}}
  </span>
  <!--
    Commented as the functionality is not yet implemented
  -->
  <!-- <button class="btn btn-outline-primary">Download Draft</button> -->
</nav>

<div *ngIf="(quote$ | async); else loading">
  <div class="row mt-3">
    <div class="col-12 col-md-6">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Summary</h5>
          <dl>
            <dt>Name</dt>
            <dd>{{(quote$ | async)?.Account?.Name}}</dd>
            <dt>Primary Contact</dt>
            <dd>{{(quote$ | async)?.Primary_Contact.FirstName}} {{(quote$ | async)?.Primary_Contact.LastName}}</dd>
            <dt>Amount:</dt>
            <dd>{{(quote$ | async)?.Discounted_Price | localCurrency | async}}</dd>
            <dt>Payment Term:</dt>
            <dd>{{(quote$ | async)?.Payment_Term}}</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Status</h5>
          <dl>
            <dt>Approval Stage</dt>
            <dd>{{(quote$ | async)?.Approval_Stage}}</dd>
            
            <dt>Presented Date:</dt>
            <dd>{{(quote$ | async)?.Presented_Date | date:'short'}}</dd>
            
            <dt>Start Date:</dt>
            <dd>{{(quote$ | async)?.ExpectedStartDate | date:'short'}}</dd>
            
            <dt>End Date:</dt>
            <dd>{{(quote$ | async)?.ExpectedEndDate | date:'short'}}</dd>
            
          </dl>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-12">
      <div class="card p-0">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Items</th>
              <th scope="col">Your Price</th>
              <th scope="col" class="text-center">Quantity</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let lineItem of (quote$ | async)?.QuoteLineItems">
              <tr *ngIf="lineItem.LineType === 'Product/Service'">
                <th scope="row">
                  <div class="media align-items-stretch">
                    <img class="mr-3" [src]="lineItem.Product?.IconId | image" width="75" height="60" alt="Generic placeholder image">
                    <div class="media-body d-flex flex-column justify-content-between">
                      <div>
                        <h6 class="m-0">
                           <a href="javascript:void(0)" [routerLink]="['/product', lineItem.Product[quoteService.configurationService.get('productIdentifier')]]">{{lineItem.Product?.Name}}</a>
                        </h6>
                        <small>
                          <strong>Product Code:</strong>&nbsp;{{lineItem.Product.ProductCode}}
                          <a class="d-block mt-1" href="javascript:void(0)" *ngIf="lineItem.HasOptions" (click)="openModal(configurationTemplate, lineItem)">
                            <span class="oi oi-wrench mr-1"></span>Configuration
                          </a>
                        </small>
                      </div>
                    </div>
                  </div>
                </th>
                <td>{{lineItem.AdjustedPrice | localCurrency | async}}</td>
                <td class="text-center">
                  <span class="badge badge-light p-3 text-muted">{{lineItem.Quantity2}}</span>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>  
</div>

<ng-template #configurationTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{selectedLineItem.Product.Name}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <apt-item-configuration-summary [item]="selectedLineItem" [parent]="(quote$ | async)"></apt-item-configuration-summary>
  </div>
</ng-template>

<ng-template #loading>
  <div class="d-flex justify-content-center py-5">
    <apt-md-spinner></apt-md-spinner>
  </div>
</ng-template>