/* You can add global styles to this file, and also import other style files */

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
$roboto-font-path: '~roboto-fontface/fonts';
@import "variables";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/v4-shims";
@import "~bootstrap/scss/bootstrap";
@import '~ngx-toastr/toastr-bs4-alert';
@import '~ngx-bootstrap/datepicker/bs-datepicker.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~roboto-fontface/css/roboto/sass/roboto-fontface-regular";
@import url("https://fonts.googleapis.com/css?family=Salesforce+Sans");

.px-6{
    padding-left: 4rem;
    padding-right: 4rem;
}
body{
    overflow-y: scroll;
}
.animated{
    -webkit-animation-duration: 0.5s !important;
    animation-duration: 0.5s !important;
}
.dashed-border{
    border-style: dashed;
}
app-header{
    nav.navbar-dark{
        a.dropdown-toggle>span, a.header-button>span{
            color: $white;
        }
    }
    button.btn-link{
        margin: 0;
        padding: 0;
    }
}

popover-container.CRPopover {
    width: 400px;
    max-width: 400px;
    &.show{
        animation: showPopover .4s ease-in forwards;
    }
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,.24);
    border-radius: 4px;
}
popover-container.optionPopover {
    width: 600px;
    max-width: 600px;
}

ngx-gallery-image{
    background-color: $white;
    .ngx-gallery-arrow-wrapper{
        z-index: 100 !important;
    }
}

typeahead-container {
    padding-bottom: 0 !important;
    .dropdown-item{
        padding: 0;
    }
}

apt-spinner.small svg{
    height: 30px;
    width: 30px;
}

apt-breadcrumb{
    display: block;
    padding-top: 1rem;
}

pdp-tab-options{
    .row-filter{
        input{
            height: calc(1.65rem + 2px) !important;
        }
    }
}

/*
* Icon styles
*/
a .oi{
    top: 0;
}
.oi, i{
    &.vertical{
        transform: rotate(90deg);
    }
    &.circle{
        border-radius: 50%;
        border: 1px solid $link-color;
        padding: 3px 3px 2px 2px;
        font-size: smaller;
    }
    &.oi-xl, &.xl{
        font-size: 100px;
    }
    &.oi-lg, &.lg{
        font-size: 24px;
    }
    &.oi-sm, &.sm{
        font-size: $font-size-sm;
    }
}

/**
 * Table Badges
 */
.table .badge{
    padding: 5px 5px 7px 5px;
}


.badge{
    text-transform: uppercase;
}

/**
 * Reset anchor and button decoration
 */
a:hover, a:focus, a:active, button.btn-link:focus, button.btn-link:active, button.btn-link:hover{
    text-decoration: none;
}

/**
 * Font awesome styles
 */
button.chevron:before, button.minus:before{
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
}
/**
 * Button styles
 */
button{
    .btn:not(.btn-link){
        text-transform: uppercase;
    }
    &.btn-icon{
        font-size: smaller;
    }
    &.ladda-button[class*="btn-outline-"], &.ladda-button[class*="btn-link"]{
        .ladda-spinner>div>div>div{
            background: $primary !important;
        }
    }

    &.chevron, &.minus{
        display: flex;
        align-items: center;
    }
    &.chevron[aria-expanded="true"]:before{
        content: "\f0d7";
        margin-right: .8rem;
    }
    &.chevron[aria-expanded="false"]:before{
        content: "\f0da";
        margin-right: .8rem;
    }
    &.minus[aria-expanded="true"]:before{
        content: "\f068";
        font-size: smaller;
        margin-right: 5px;
    }
    &.minus[aria-expanded="false"]:before{
        content: "\f067";
        font-size: smaller;
        margin-right: 5px;
    }
}

/**
 * Add margin to the main section to accomodate header
 */
main{
    margin-top: $navbar-brand-height;
    min-height: calc(100vh - #{$navbar-brand-height});
}

/**
 * Dropdown fixes
 */
.dropdown-toggle::after{
    display: none;
}
.dropdown-menu {
    z-index: 1500;
    right: 0;
    left: auto;
}

.thumbnail{
    max-width: 3rem;
    max-height: 3rem;
}

dl{
    dd, dt{
        display: inline-block;
    }
    dt{
        vertical-align: top;
    }
    dd{
        width: 66%;
    }
}

.bs-datepicker-head {
    background-color: $primary !important;
}

/**
 * Helpers
 */

.text-faded {
    opacity: 0.5;
}
.text-underline{
  text-decoration: underline;
}
.cursor-pointer{
  cursor: pointer;
}
.hide-hscroll{
    overflow-x: hidden;
}
.note-container, .attachment-container{
    height: 35vh;
}
.form-control{
    font-size: inherit;
}
.collapse, .collapsing{
    background-color: $white;
}
